
<html>
<head>
   <h2>About</h2>
  
</head>
<body>

	<p>
		Dropout and Graduation rates are statistics that are constantly updated, reviewed, and used and part of the process of determining how many adolescents are able to successfully complete their high school education. This is information is generally made public and often heard about during speaking about social and community concerns. There are a vast amount of variables that impact these statistics, with the main variables being economic status, race, and social status. I feel that among these variables, there are numerous other factors that can potentially play a very large role and can have an enormous impaction on graduation or dropout rates. Without being able to option this information, analyze it, and potentially determine or find new patterns or variables that impact these rates, we in turn as a society can step in to help improve and increase the graduation rates of the upcoming generations. Unfortunately not all of this information is currently being collecting or readily and easily available for someone to access and view. 

	</p>

	<p>
		
		The statistics about graduation and dropout rates are made public and base on public schools and the information that state or county deems necessary to either collect, or make available to the public. In addition, at this time I was unable to locate one single location or database that obtains all of this information readily available to those in search for it. As previously mentioned in this paper, one of the important factors of digital or data curation is that access that this data has for research or analyzing purposes. I believe that this is a perfect example of how there is room for vast improvement during the collection process for data curation. Setting aside the type of information that is being collected, the concept that you have to go to different and individuals locations, such as the county or state web pages to obtain information reflects the lack of data curation currently available for this specific topic. In addition, the information that is available, has already been complied and grouped into specific categories to be downloaded. Therefore, they do not have any type of searchable data available at this time. 

	</p>
	<p>

		The data that is currently available in relation to dropout and graduation rates is not consistent among the different counties or states. For this purpose, I began to search for this information specifically for New Jersey, Maryland, and Virginia to see what type of information was available. Among these three states, the state that I felt had the most amount of information available, with the largest variables being incorporated was the state of Virginia. The data that was available for all three states, were downloadable datasets with predefined variables or concepts for each dataset. Specifically for the data available on the Virginia Department of Education site, they were able to incorporate the following type of information: 
	</p>
	<p>
		<ol>
			<li>2008-2014 On-time graduation rate and cohort dropout rates</li> 
			<li>2010-2012 Annual dropout data</li> 
			<li>2006-2015 Annual HS Graduates and Completer's</li> 
			<li>2007-2015 Career & Technical Education Programs Graduates and Completer's</li> 
			<li>2006-2015 Test Data</li> 
		</ol>
	</p>

	<p>

		The different variables that were incorporated in the majority of these datasets were the following: 

	</p>

	<p>
		<ol>
			<li>School year</li> 
			<li>Level code</li> 
			<li>Division number and name</li> 
			<li>School number and name </li> 
			<li>Federal Race Code</li> 
			<li>Gender</li> 
			<li>Disability flag</li> 
			<li>LEP flag</li> 
			<li>Disadvantaged flag</li> 
			<li>Cohort count</li> 
			<li>Diploma rate</li> 
			<li>Dropout rate</li> 
		</ol>

	</p>

	<p>

		Having these different types of variables avaliable for analyzation can potentially help narrow down other important factors that can affect graduation rates and dropout rates. Another factor that I noticed when reviewing the different types of information for the three states, is the lack of consistency among all three states. All three states did have the most basic information available, such as gender, race, dropout and graduation rates, however having limited variables to analyze, will by default limit the outcome or possible conclusions that are available for this research.

	</p>

</body>
</html>


