<html>
<h2>Data Mining</h2>
  
</head>
<body>


  <p>
    This website uses a Google Tool, called OpenRefine, which allows you clean, modify, tranform, and export raw data, by using data mining techniques such as filtering, editing, and clustering the data to optimize its use. Additionally, OpenRefine works well with different types of data formats and sizes.  

    Please proceed to follow the instructions below for this process: 

  <br></br>

  <ol>
    <li>Please proceed to download this Google Tool <a href="https://code.google.com/archive/p/google-refine/downloads" target="_blank">here</a>.</li> 
    <li>After downloading the tool, please proceed to upzip the file and open the application on your computer.</li>
    <li>Once the tool has been opened on your computer, kindly navigate <a href="http://127.0.0.1:3333/" target="_blank">here</a>.</li>
    
  </ol>

  For additional information on this tool, or help with the steps above, please visit any of the resources below: 

  <br></br>

  <ul>
    <li><a href"http://enipedia.tudelft.nl/wiki/Google_Refine_Tutorial" target="_blank">OpenRefine Tutorial</a>.</li>
    <li><a href"http://openrefine.org/index.html" target="_blank">OpenRefine Site with Introductory Videos</a>.</li>
  </ul>

  </p>

</body>
</html>


