<!DOCTYPE html>
<html>

<head>
</head>
<body>
	<div class="jumbotron">
		<div class="container-fluid">

				<div class="row">                      
                <div class="col-xs-12 col-sm-6 col-md-8">
                   <img src=""><%= image_tag "https://s3.amazonaws.com/msuproject/Grad_Drop1.jpg" %></img>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p><strong>"In school year 2013–14, the adjusted cohort graduation rate (ACGR) for public high schools rose to an all-time high of 82 percent. This indicates that approximately 4 out of 5 students graduated with a regular high school diploma within 4 years of the first time they started 9th grade."</strong> </p>
                    
 
                   
                    	<footer>Public High School Graduation Rates, </a>  <cite title="Source Title"><a href"http://nces.ed.gov/programs/coe/indicator_coi.asp" target="_blank"> National Center for Education Statistics</a> </cite></footer>
                	
                
                   
                    	<footer>Image was provided by </a>  <cite title="Source Title"><a href="http://kealindoubleyou.tumblr.com/post/58748356868/jewist-detroit-born-photographer-mark-laita" target="_blank">Kealindoubleyou</a> </cite></footer>

                </div>                
            </div>
	
		</div>
	</div>

	<h2>Graduation and Dropout Statistics</h2>

	<p>
		Education is a very important factor that can help improve and enhance numerous lives. Within our society and communities, we have great number of young individuals who are dropping out of high school for various reasons. This unfortunate event tends to have a long lasting impact on their lives, lowering the amount of opportunities available to them, and possibly lowering the quality of life they can have in the future. In my opinion, having the statistics to how many individuals are dropping out of high school is not enough. We need to start focusing on other variables related to why individuals are dropping out of high school. With this information, we can begin the process of determining possible root causes of this unfavorable decision and if possible start providing guidance, help, or information to the affected students or families. This process can begin here. 
	</p>
	<p>

		This site allows you to upload information according to your needs, such as information specific to your state/city/county/school, clean (data mine) the information, and generate a graph to help summarize and correlate variables to help draw meaning conclusions. To begin, you may follow the steps below: 
	</p>
		<ol>
		  <li><a href="/pages/about" target="_blank"><strong>Data Mining</strong></a>: Using OpenRefine, you willl be able to upload raw/messy data to the tool and conducte various data mining/cleaning techniques to make the data more useful and easier to use. For this website, the data must be exported as a CSV file from the tool, in order to generate graphs/charts section. After cleaning the data, you will download the updated CSV file and may proceed to generate the graph.</li> 
		  <li><a href="/pages/chart" target="_blank"><strong>Generate Chart</strong></a>: Upload the desired CSV file to generate graph, which may be maniulated and downloaded for your records. </li>
		  
		</ol>
	</p>

	
</body>

</html>


