custom.css.scss.jumbotron {
	position: relative; 
	background-image: image-url('msu.jpg');  
	background-size: 100% 100%;
	background-color: #e3e0d7; 
	background-repeat: no-repeat;

}


.navbar-default {
	.container-fluid{
		background-color: #b00100; 
		.navbar-nav > li > a {
		color: #ffffff; 
		font-size: 16px; 
		
		}
		.navbar-brand{
		color: white; 
		font-size: 24px; 

		}
		}
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 120px;
}


.footer {
  position: absolute;
  padding-top:10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align:center;
  overflow: auto; 
}


